<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blogs_title.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blogs_title.body %>
</p>

<%- if current_user.present? %>
	<%= link_to 'Edit', edit_blogs_title_path(@blogs_title) %> |
	<%= link_to 'Back', blogs_titles_path %>
<% end %>
